.main {
  margin: 60px 0px;
  justify-content: center;
}
.signup,
.signin {
  border: 1px solid #d3d0d0;
  border-radius: 25px;
  margin: auto 0px;
  margin-top: 120px;
  padding-top: 20px;
  height: fit-content;
  & .Mysubmit {
    margin: 20px 18px;
    background-color: #363062;
    border-color: #363062;
    border-radius: 25px;
    padding: 7px 0px;
    &:focus {
      box-shadow: 0 0 0 0.25rem #36306258;
    }
    &:hover {
      background-color: #4d4c7d !important;
      border-color: #4d4c7d !important;
    }
  }
  & .switch {
    margin: 15px 0px;
  }
}
.sidebar {
  height: 800px;
  padding: 0px !important;
  padding-top: 15px !important;
  position: relative;
  margin-left: 15px;
  border: 1px solid #363062;
  border-radius: 20px;
  overflow-y: hidden;
  &.scroll {
    overflow-y: scroll !important;
  }
  & .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    // border-radius: 9px;
    &:hover {
      background-color: whitesmoke;
    }
    & .right {
      display: flex;
      // flex-direction: column;
      align-items: center;
      & .round {
        width: 75px;
        height: 75px;
        margin-left: 10px;
        &.empty {
          border-radius: 50%;
          &.odd {
            background-color: #827397;
          }
          &.even {
            background-color: #363062;
          }
        }
        & img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 50%;
        }
      }
    }
    & .number {
      width: 25px;
      height: 25px;
      background-color: #827397;
      border-radius: 50%;
      text-align: center;
      color: white;
    }
    & .description {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
    & .text {
      padding-right: 5px;
      color: #707070;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 140px;
    }
  }
  & .plus {
    background-color: #9e98ce;
    border: 1px solid #9e98ce;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    // position: fixed;
    // bottom: 90px;
    cursor: pointer;
    & img {
      width: 20px;
      height: 20px;
      margin-bottom: 3px;
    }
    &:hover {
      background-color: #4d4c7d;
      border: 1px solid #4d4c7d;
    }
  }
  & .accordion {
    & .profile_pic {
      width: 110px;
      height: 110px;
      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
      }
    }
    & .accordion-item:last-of-type .accordion-collapse {
      height: 100vh;
    }
    & .accordion-button::after {
      width: 0px;
      height: 0px;
    }
    & .accordion-button:focus {
      border-color: #7f819a;
      box-shadow: 0 0 0 0.25rem #7f819a3b;
    }
    & .accordion-button:not(.collapsed) {
      background-color: #7f819a77;
    }
  }
}
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 50px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #4d4c7d;
  border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #363062;
}

.addChat {
  & .users {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    & .user {
      display: flex;
      align-items: center;
      margin-bottom: 5px;
      justify-content: left;
      padding: 5px;
      cursor: pointer;
      &:hover {
        background-color: whitesmoke;
        border-radius: 15px;
      }
      &.selected {
        background-color: whitesmoke;
        border-radius: 15px;
      }
      & .name {
        margin-left: 10px;
        font-weight: 500;
      }
      & .profile_pic {
        width: 75px;
        height: 75px;
        & img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 50%;
        }
      }
    }
  }
  & .create {
    text-align: center;
    & .btn {
      background-color: #363062;
      border: 1px solid #363062;
      border-radius: 15px;
      padding: 5px 25px;
      justify-content: center;
      &:hover {
        background-color: #4d4c7d;
        border: 1px solid #4d4c7d;
      }
    }
  }
}

.showpage {
  border: 1px solid #363062;
  border-radius: 20px;
  position: relative;
  padding: 0px !important;

  .overlay {
    background: #4d4c7d;
    opacity: 0.45;
    border-radius: 0px 0px 20px 20px;
    top: 45px !important;
    position: absolute !important;
  }
  &.mainCover {
    height: 800px;
    & .background {
      border-radius: 20px;
      padding: 0px;
      filter: drop-shadow(0px 0px 0px #363062) blur(2px);
      height: 800px;
    }
  }
  .onImage {
    width: 100%;
    height: 755px;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0px !important;
  }
  & .title {
    background-color: #4d4c7d;
    height: 85px;
    border-radius: 17px 17px 0px 0px;
    color: white;
    padding: 6px 25px;
    font-size: 20px;
    z-index: 5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    & .round {
      width: 75px;
      height: 75px;
      margin-left: 10px;
      &.empty {
        border-radius: 50%;
        background-color: #827397;
      }
      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
      }
    }
  }
  & .typeMessage {
    display: flex;
    flex-direction: column;
    align-items: center;
    & .form-check-label {
      color: white;
    }
  }
  & .send {
    padding: 15px 20px;
    border: 1px solid #707070;
    // border-radius: 0px 0px 15px 15px;
    resize: none;
    overflow-y: hidden !important;
    height: 54px;
    max-height: 90px;
    &.scroll {
      overflow-y: scroll !important;
    }
  }
  & .bottom {
    // display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 660px;
    &.change {
      margin-top: 595px;
    }
    & .sendMessage {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    & .replyMessage {
      background-color: white;
      height: 65px;
      border-radius: 10px 10px 0px 0px;
      // margin-right: 85px;
      border: 1px solid #707070;
      border-bottom: none;
      padding: 5px 15px;
      & .replytext {
        border-right: 3px solid #7f819a;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-right: 10px;
      }
    }
  }
  & .text {
    text-align: center;
    font-size: 21px;
    font-weight: 500;
    color: white;
    margin: 315px auto;
    background-color: #ffffff36;
    width: max-content;
    border-radius: 22px;
    padding: 5px 20px;
  }
  & .sendIcon {
    cursor: pointer;
    & img {
      transform: rotateZ(90deg);
      background-color: white;
      border-radius: 50%;
    }
  }
  & .showMessageParent {
    position: absolute;
    overflow-y: scroll;
    height: 656px;
  }

  ::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 50px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #4d4c7d;
    border-radius: 50px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #363062;
  }
  .form-check-input {
    cursor: pointer;
    &:checked {
      background-color: #4d4c7d;
      border-color: #4d4c7d;
    }
    &:focus {
      border-color: #4d4c7d;
      outline: 0;
      box-shadow: 0 0 0 0.25rem #4d4c7d34;
    }
  }
}
.showMessage {
  display: flex;
  flex-direction: column;

  & .person {
    align-self: flex-end;
    display: flex;
    flex-direction: row-reverse;
    & .round {
      width: 75px;
      height: 75px;
      margin-right: 10px;
      &.empty {
        border-radius: 50%;
        background-color: #827397;
      }
      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
      }
    }
    & .card {
      width: fit-content;
      min-width: 150px;
      max-width: 460px;
      padding: 2px 0px;
      margin: 5px 0px;
      border-radius: 45px 10px 10px 0px;
      & .sender {
        margin-right: auto;
        margin-left: 40px;
        color: #363062;
        font-weight: 500;
        font-size: 16px;
      }
      & .textMessage {
        padding: 5px 10px 5px 25px;
        font-size: 17px;
      }
      & .time {
        margin-right: 20px;
        color: #707070;
      }
      & .reply {
        margin-right: -30px;
        margin-bottom: -20px;
        cursor: pointer;
        & img {
          transform: rotateY(180deg);
        }
      }
      &.todo {
        min-width: 250px;
        border-radius: 10px 10px 10px 0px;
        & .description {
          display: flex;
          flex-direction: row-reverse;
          align-items: center;
          justify-content: space-around;
          & .check {
            display: flex;
            flex-direction: row-reverse;
            align-items: flex-end;
            & .todoStatus {
              & .form-check-input {
                width: 20px !important;
                height: 20px !important;
                margin-top: 2px;
                margin-left: 5px;
                border-radius: 50px;
              }
            }
          }
        }
      }
      &:hover {
        background-color: whitesmoke;
        border-color: whitesmoke;
      }
      & .replyMessage {
        border-radius: 10px 0px 0px 0px;
        margin-top: 3px;
        border-right: 3px solid #7f819a;
        margin-right: 40px;
        padding-right: 5px;
        color: rgb(53, 53, 53);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
  & .me {
    display: flex;
    flex-direction: column;
    & .round {
      width: 75px;
      height: 75px;
      margin-left: 10px;
      &.empty {
        border-radius: 50%;
        background-color: #827397;
      }
      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
      }
    }
    & .card {
      width: fit-content;
      min-width: 150px;
      max-width: 460px;
      padding: 2px 0px;
      margin: 5px 0px;
      background-color: #e1d3e1;
      border-color: #e1d3e1;
      border-radius: 10px 45px 0px 10px;
      & .sender {
        margin-right: auto;
        margin-left: 40px;
        color: #363062;
        font-weight: 500;
        font-size: 16px;
      }
      & .textMessage {
        padding: 5px 25px 5px 10px;
        font-size: 17px;
      }
      & .time {
        margin-right: auto;
        margin-left: 20px;
        color: #707070;
      }
      & .reply {
        margin-right: auto;
        margin-left: -30px;
        margin-bottom: -20px;
        cursor: pointer;
      }
      &.todo {
        min-width: 250px;
        border-radius: 10px 10px 0px 10px;

        & .description {
          display: flex;
          align-items: center;
          justify-content: space-around;
          & .check {
            display: flex;
            align-items: flex-end;
            & .todoStatus {
              & .form-check-input {
                width: 20px !important;
                height: 20px !important;
                margin-top: 2px;
                margin-right: 5px;
                border-radius: 50px;
              }
            }
          }
        }
      }
      &:hover {
        background-color: #d6bdc3;
        border-color: #d6bdc3;
      }
    }
    & .replyMessage {
      border-radius: 10px 0px 0px 0px;
      margin-top: 3px;
      border-right: 3px solid #7f819a;
      margin-right: 40px;
      padding-right: 5px;
      color: rgb(53, 53, 53);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
.chatinfo {
  & .profile_pic {
    width: 100px;
    height: 100px;
    &.member {
      width: 75px;
      height: 75px;
    }
    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
    }
  }
  & .members {
    margin-bottom: 10px;
  }
}
