.main {
  margin: 60px 0px;
  justify-content: center;
}
.signup,
.signin {
  border: 1px solid #d3d0d0;
  border-radius: 25px;
  margin: auto 0px;
  margin-top: 120px;
  padding-top: 20px;
  height: fit-content;
  & .Mysubmit {
    margin: 20px 18px;
    background-color: #363062;
    border-color: #363062;
    border-radius: 25px;
    padding: 7px 0px;
    &:focus {
      box-shadow: 0 0 0 0.25rem #36306258;
    }
    &:hover {
      background-color: #4d4c7d !important;
      border-color: #4d4c7d !important;
    }
  }
  & .switch {
    margin: 15px 0px;
  }
}
.sidebar {
  border-radius: 15px;
  height: 800px;
  padding: 0px !important;
  padding-top: 15px !important;
  position: relative;
  margin-left: 15px;
  border: 1px solid #363062;
  border-radius: 20px;
  overflow: scroll;
  & .card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    // border-radius: 9px;
    &:hover {
      background-color: whitesmoke;
    }
    & .right {
      display: flex;
      align-items: center;
      & .round {
        width: 75px;
        height: 75px;
        margin-left: 10px;
        &.empty {
          border-radius: 50%;
          &.odd {
            background-color: #827397;
          }
          &.even {
            background-color: #363062;
          }
        }
        & img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 50%;
        }
      }
    }
    & .number {
      width: 25px;
      height: 25px;
      background-color: #827397;
      border-radius: 50%;
      text-align: center;
      color: white;
    }
  }
  & .plus {
    background-color: #9e98ce;
    border: 1px solid #9e98ce;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    position: fixed;
    bottom: 90px;
    cursor: pointer;
    & img {
      width: 35px;
      height: 35px;
    }
    &:hover {
      background-color: #4d4c7d;
      border: 1px solid #4d4c7d;
    }
  }
}

.addChat {
  & .users {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    & .user {
      display: flex;
      align-items: center;
      margin-bottom: 5px;
      justify-content: left;
      padding: 5px;
      cursor: pointer;
      &:hover {
        background-color: whitesmoke;
        border-radius: 15px;
      }
      &.selected {
        background-color: whitesmoke;
        border-radius: 15px;
      }
      & .name {
        margin-left: 10px;
        font-weight: 500;
      }
      & .profile_pic {
        width: 75px;
        height: 75px;
        & img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 50%;
        }
      }
    }
  }
  & .create {
    text-align: center;
    & .btn {
      background-color: #363062;
      border: 1px solid #363062;
      border-radius: 15px;
      padding: 5px 25px;
      justify-content: center;
      &:hover {
        background-color: #4d4c7d;
        border: 1px solid #4d4c7d;
      }
    }
  }
}

.showpage {
  border: 1px solid #363062;
  border-radius: 20px;
  position: relative;
  padding: 0px !important;

  .overlay {
    background: #4d4c7d;
    opacity: 0.45;
    border-radius: 0px 0px 20px 20px;
    top: 45px !important;
    position: absolute !important;
  }
  &.mainCover {
    height: 800px;
    & .background {
      border-radius: 20px;
      padding: 0px;
      filter: drop-shadow(0px 0px 0px #363062) blur(2px);
      height: 800px;
    }
  }
  .onImage {
    width: 100%;
    height: 755px;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0px !important;
  }
  & .title {
    background-color: #4d4c7d;
    height: 45px;
    border-radius: 17px 17px 0px 0px;
    color: white;
    padding: 6px 25px;
    font-size: 20px;
    z-index: 5;
  }
  & .typeMessage {
    display: flex;
    flex-direction: column;
    align-items: center;
    & .form-check-label {
      color: white;
    }
  }
  & .send {
    padding: 15px 10px;
    border: 1px solid #707070;
    border-radius: 25px;
    resize: none;
    overflow: hidden;
    min-height: 45px;
    max-height: 60px;
  }
  & .bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 680px;
  }
  & .text {
    text-align: center;
    font-size: 21px;
    font-weight: 500;
    color: white;
    margin: 315px auto;
    background-color: #ffffff36;
    width: max-content;
    border-radius: 22px;
    padding: 5px 20px;
  }
  & .sendIcon {
    cursor: pointer;
    & img {
      transform: rotateZ(90deg);
      background-color: white;
      border-radius: 50%;
    }
  }

  .form-check-input {
    cursor: pointer;
    &:checked {
      background-color: #4d4c7d;
      border-color: #4d4c7d;
    }
    &:focus {
      border-color: #4d4c7d;
      outline: 0;
      box-shadow: 0 0 0 0.25rem #4d4c7d34;
    }
  }
}

.showMessage {
  & .card {
    width: fit-content;
    max-width: 460px;
    padding: 2px 0px;
    margin: 2px 0px;
    &.person {
      float: left;
      border-radius: 45px 10px 10px 0px;
      & .sender {
        margin-right: auto;
        margin-left: 40px;
        color: #363062;
        font-weight: 500;
        font-size: 16px;
      }
      & .textMessage {
        padding: 5px 10px 5px 25px;
      }
      & .time {
        margin-right: 20px;
        color: #707070;
      }
    }
    &.me {
      border-radius: 10px 45px 0px 10px;
      & .sender {
        margin-right: auto;
        margin-left: 40px;
        color: #363062;
        font-weight: 500;
        font-size: 16px;
      }
      & .textMessage {
        padding: 5px 25px 5px 10px;
      }
      & .time {
        margin-right: auto;
        margin-left: 20px;
        color: #707070;
      }
    }
  }
}
